node_modules/**/*
.expo/
npm-debug.*
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

# fakeData
src/screens/test/fakeDatas.js


# env
# Config.js
# GoogleService-Info.plist
# google-services.json
*.jks
